{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Загрузка документа{% endblock %}

{% block content %}
<h2>Загрузка документа</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Пожалуйста, исправьте следующие ошибки:</strong>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Отправить на рассмотрение</button>
</form>
{% endblock %}